<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to the Website</title>
    </head>
    <body>
        <h1>To use the api use the extension "/api"</h1>
        <h1> THIS IS WHERE VIS GOES</h1>
        
        <div id="mapKW"></div>
        <div>
            <canvas id="myChart"></canvas>
        </div>
        <div id ="line-plot"></div>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script type="text/javascript" src="../heatmap.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script type="text/javascript" src="StackedBarChart.js"></script>
        <script src="linegraph.js"></script>
        
    </body>
</html>